html,
body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

a.button,
button.button {
  background: #e83b7d;
  border: none;
  color: #fff;
  padding: 19px 54px;
  border-radius: 25px;
  cursor: pointer;
}

a.button:hover,
button.button:hover {
  opacity: 0.8;
}

a.button:active,
button.button:active {
  background: #d61f66;
  opacity: 1;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  /* max-width: 1061px; */
}

.icon {
  font-size: 2rem;
}

.content {
  width: 78%;
  margin: 0 auto;
  max-width: 1061px;
  padding: 8rem 15px;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #fafafa;
}

header .content {
  padding: 32px 15px;
}

.logo {
  color: #1e0e63;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 1.6rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.right-nav a {
  color: #a6a6b4;
  margin-right: 1.6rem;
}

.right-nav a:last-child {
  margin-right: 0;
}

.right-nav a:hover {
  color: #1e0e63;
}

.section-1 {
  height: 100vh;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}

.section-1 .content {
  padding-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
  width: 47%;
}

.section-1 .content h2 {
  color: #1e0e63;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4.1rem;
}

.section-1 .content p {
  color: #a6a6b4;
  line-height: 1.8rem;
  margin-top: 25px;
  font-size: 1.2rem;
}

.section-1 .content a {
  margin-top: 4rem;
  padding: 19px 98px;
}

.section-2 {
  background: #fff;
}

.section-2 .content {
  display: flex;
  flex-wrap: wrap;
}

.left,
.right {
  width: 50%;
  padding: 5px;
}

.icon-content {
  display: flex;
  margin-bottom: 40px;
  padding-right: 5rem;
}

.icon-content .icon {
  margin-right: 10px;
  color: #b1b1bd;
}

.icon-content h3 {
  color: #1e0e63;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 500;
}

.icon-content p {
  color: #b1b1bd;
  margin-bottom: 20px;
  line-height: 1.4rem;
}

.section-2 .right h3,
.section-3 .left h3 {
  color: #1e0e63;
  font-size: 2.6rem;
  margin-bottom: 28px;
  line-height: 2.8rem;
  font-weight: 500;
}

.section-2 .right p,
.section-3 .left p {
  color: #a6a6b4;
  line-height: 1.4rem;
  margin-bottom: 20px;
}

.section-2 .right ul {
  display: flex;
  align-items: center;
}

.section-2 .right ul li {
  margin-right: 35px;
}

.section-2 .right .icon {
  color: #b1b1bd;
}

.section-3 {
  background: #1e0e63;
}

.section-3 .content {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.section-3 .icon-content h3 {
  color: #fff;
}

.section-3 .content .left h3 {
  color: #fff;
}

.section-3 .content .left {
  padding-right: 5rem;
}

.section-3 .icon-content .icon {
  color: #fff;
}

.section-4 .content {
  text-align: center;
  width: 90%;
}

.section-4 h2 {
  color: #1e0e63;
  font-size: 2.6rem;
  margin-bottom: 28px;
  line-height: 2.8rem;
  font-weight: 500;
}

.section-4 .heading {
  width: 60%;
  margin: 0 auto;
}

.section-4 .heading p {
  color: #a6a6b4;
}

.section-4 .pricing {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.section-4 .pricing-card {
  margin: 0 18px;
  padding: 10px 0;
}

.section-4 .price-top {
  border: 1px solid #abacb8;
  padding: 2rem;
  border-radius: 20px;
}

.section-4 .price-top>p {
  color: #1e0e63;
  font-weight: 500;
  margin-bottom: 35px;
}

.section-4 .price-top .cost {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  color: #1e0e63;
  margin-bottom: 35px;
}

.section-4 .price-top .cost p:first-of-type {
  margin-right: 30px;
  font-size: 3.6rem;
  font-weight: bold;
  position: relative;
}

.section-4 .price-top .cost p:first-of-type::before {
  content: "$";
  position: absolute;
  font-size: 21px;
  top: 0;
  left: -20px;
}

.section-4 .price-top .cost p:last-of-type {
  line-height: 1.5rem;
}

.section-4 .price-top .price-text {
  color: #a6a6b4;
  font-weight: 400;
  line-height: 1.7rem;
}

.section-4 .price-bottom {
  margin-top: 35px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-4 .price-bottom li {
  margin-bottom: 20px;
  color: #a6a6b4;
}

.section-4 .price-bottom li::before {
  content: "\2713";
  color: #3ddecc;
  margin-right: 20px;
}

.section-4 .price-bottom .not-in-package::before {
  color: transparent;
}

.section-4 .price-bottom .not-in-package {
  color: #d8d8e0;
}

.section-4 .pricing-card a {
  background: #fff;
  color: #1e0e63;
  border: 1px solid #1e0e63;
  font-weight: bold;
  margin-top: 30px;
}

.section-4 .pricing-card:hover .price-top {
  border: 1px solid #1e0e63;
  background: #1e0e63;
  color: #fff;
}

.section-4 .pricing-card:hover .price-top>p {
  color: #fff;
}

.section-4 .pricing-card:hover .price-top .cost {
  color: #fff;
}

.section-4 .pricing-card:hover a {
  background: #e83b7d;
  border-color: #e83b7d;
  color: #fff;
}

.section-5 .heading h3 {
  color: #1e0e63;
  font-size: 2.6rem;
  margin-bottom: 28px;
  line-height: 2.8rem;
  font-weight: 500;
}

.section-5 .heading p {
  color: #a6a6b4;
}

.section-5 .heading {
  width: 50%;
  line-height: 1.6rem;
}

.section-5 .contact-sales {
  color: #1e0e63;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.section-5 .contact-sales .icon {
  margin-right: 20px;
  font-size: 15px;
}

.section-5 .contact-us {
  display: flex;
  margin-top: 35px;
  flex-wrap: wrap;
}

.contact-us form {
  margin-right: 10px;
  width: 60%;
}

.contact-us-text {
  width: 40%;
}

.contact-us form .form-row {
  display: flex;
  justify-content: space-between;
}

.input-text,
select {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 2px solid #d8d8e0;
  outline: none;
  margin: 10px;
}

select {
  color: #1e0e63;
  font-weight: bold;
}

.input-text:active,
.input-text:focus {
  border: 2px solid #e83b7d;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.contact-us-text h3 {
  color: #1e0e63;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.contact-us-text p {
  color: #a6a6b4;
  line-height: 1.4rem;
}

.contact-us-text p a {
  color: #a6a6b4;
}

.submit {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

footer {
  background: #fafafa;
}

footer .content {
  display: flex;
  flex-wrap: wrap;
}

footer .company {
  width: 40%;
}

.company p {
  color: #b1b1bd;
  margin-top: 35px;
  width: 40%;
  line-height: 1.4rem;
  margin-bottom: 20px;
}

.company .social-list a {
  margin-right: 20px;
}

footer .right-footer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .right-footer>div {
  margin-right: 20px;
}

footer .right-footer h3 {
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 1.3rem;
  color: #1e0e63;
}

footer .right-footer li {
  margin-bottom: 20px;
}

.social-list {
  margin-top: 35px;
}

footer .social-list .icon {
  color: #1e0e63;
  font-size: 20px;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo .icon {
  display: none;
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  .section-1 .content, .content {
    width: 95%;
    padding: 8rem 0;
  }
  .section-1 .content h2 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  header .content {
    padding: 32px 0;
  }
  nav {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .right-nav {
    margin-top: 20px;
    text-align: center;
    display: none;
  }
  .nav-logo .icon {
    display: block;
    margin-right: 10px;
  }
  .right-nav a {
    display: block;
    margin-top: 20px;
  }
  .left, .right {
    width: 100%;
  }
  .icon-content {
    padding-right: 0;
  }
  .section-3 .content .left {
    padding-right: 0;
    margin-bottom: 40px;
  }
  .section-5 .heading {
    width: 100%;
  }
  .contact-us form {
    width: 100%;
  }
  .contact-us-text {
    width: 100%;
  }

  footer .content {
    flex-direction: column;
    align-items: center;
  }
  footer .company {
    width: 100%;
    text-align: center;
  }
  .company p {
    width: 100%;
  }
  footer .right-footer {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
  }
  footer .right-footer>div {
    margin: 0;
  }
}